.about-body {
  color: #101d38;
  position: relative;
  width: 99.1vw;
  padding-bottom: 50px;
}

.about-background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
  overflow: hidden;
  box-shadow: inset 3px 2px 2px #000000;
  filter: brightness(80%) saturate(80%) blur(2px);
  background-position: left top;
  background-color: #000000b9;
  background-image: url(/English-4.jpg);
  background-repeat: round;
  background-size: cover;
  z-index: -1;
}

.about-contain {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-main {
  background-color: white;
  width: 1150px;
  padding-bottom: 50px;
}

.about-main-top {
  display: flex;
  height: 200px;
}

.about-main-top h1 {
  font-size: 2.5em;
  font-family: "CircularStd", sans-serif;
  margin: 0;
}

.about-main-top h3 {
  font-size: 1em;
  font-family: "Avenir Next", sans-serif;
  margin: 0;
}

.about-main-top p {
  color: #686868;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: "Avenir Next", sans-serif;
  margin-top: 0;
}

.about-main-top img {
  height: 100%;
  width: 300px;
}

.about-top-title {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
}

.about-top-links {
  display: flex;
}

.about-top-links img {
  width: 50px;
}

.about-link,
.about-link a {
  display: flex;
  align-items: center;
}

.about-link {
  width: 180px;
}

.about-top-contain {
  display: flex;
  flex-direction: column;
}

.about-prof {
  background-color: #00013815;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-prof h3 {
  font-size: 1.2em;
  font-family: "CircularStd", sans-serif;
  font-weight: 800;
  margin: 0;
}

.about-prof-title {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.about-body hr {
  margin: 0;
  margin-top: 0.25vw !important;
  border-width: 0;
}

.about-connect-hr {
  margin: 0 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 100%;
}

.about-hr-left {
  align-items: flex-end;
}

.about-hr-top {
  width: 100%;
  border-top: solid #000000 1px !important;
}

.about-hr-bottom {
  width: 80%;
  border-top: solid rgb(0, 156, 156) 1px !important;
}

.about-prof-main {
  padding: 40px 0;
  width: 100%;
  display: flex;
}

.about-prof-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0;
  margin: 0;
}

.about-prof-list p:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px;
  background-image: url(/icons/check-circle.svg);
  background-repeat: no-repeat;
  margin-right: 5px;
}

.about-prof-list img {
  height: 5px;
  width: 5px;
}

.about-prof p {
  text-align: start;
  color: #1b1b1b;
  font-size: 17px;
  font-weight: 200;
  font-family: "Avenir Next", sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 100px;
}

.about-content {
  display: flex;
  align-items: flex-start;
}

.about-content-side {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-content-border {
  border-left: #00013815 2px solid;
}

.about-content-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.about-content-pics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-content-pics img {
  padding: 2px;
  width: 250px;
}
